.medication-registration-box {
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
}

.medicament-name,
.active-principle,
.dosage {
  margin-bottom: 20px;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
